{% extends "base.html" %}
{% block title %}Try 1{% endblock %}

{% block content %}



    <h3>Add category</h3>
    <form action="/category" method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <button type="submit">Add Category</button>
    </form>

{% endblock %}